.btn {
    font-size: 20px;
    padding: 8px 16px;
    border: 50px;
    color: #fff;
    background-color: #24c789;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Login CSS */

.login-card {
    width: 500px;
    padding: 20px;
    border: 2px solid #888;
    background-color: #eee;
    border-radius: 10px;
}

.login-card h2 {
    text-align: center;
    margin-bottom: 40px;
}

.login-card label {
    display: block;
    margin-top: 15px;
}

.login-card input {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    padding: 12px;
}

.login-card button {
    font-size: 16px;
    margin-top: 20px;
}